/* COOL COLORS  */
/* Dark aqua:  #176663, #063533 */
/* Background for aqua: #ebeae1 */ 

/* Purple: #531d72, #300f44, #dcbeee */

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

/* ---- MAIN BODY ---- */
* {
    margin:0; 
    padding:0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box; 
    font-size: 20px; 
}
html {
    scroll-behavior: smooth;
}
body {
    background:#ebeae1; 
    color: #176663;
    /* margin: 0 auto;
    max-width: 50em; */
    /* line-height: 1.5;
    padding: 4em 1em; */
}
#header{
    width:100%;
    height:100vh;
    /* background-image: url(images/background-im3.png);
    background-size: cover;
    background-position: center; */
}  
.container{
    padding: 30px 10%; 
}
/* ---- NAVIGATION MENU ---- */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 250px;
    height: auto;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px; 
}
nav ul li a {
    color: #176663;
    text-decoration: none;
    font-size: 24px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #176663;
    position: absolute;
    left: 0;
    bottom:-6px;
    transition: 1s;
    font-style:italic; 
}
nav ul li a:hover::after{
    width: 100%
}
nav ul li a:hover {
    font-style: italic; 
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    margin-top: 20px;
    font-size: 60px;
}
.header-text h2{
    margin-top: 20px;
    font-size: 30px;
    font-style: italic;
    color: #5d9793; 
}

/* -----------ABOUT----------- */

#about{
    padding: 80px 0;
    color: #176663;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px; 
}
.about-col-2{
    flex-basis: 60%;

}
.sub-title{
    font-size: 60px;
    font-weight:100;
    color: #176663; 
}
.tab-titles{
    display:flex;
    margin: 20px, 0, 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    position:relative;

}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #176663;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 1s; 
}
.tab-links.active-link::after{
    width:75%; 
}

.tab-links:hover {
    font-style: italic; /* Set the font style to italic on hover */
}

.tab-contents ul li{
    list-style: none;
    margin: 20px 0;
}
.tab-contents ul li span{
    color: #063533; 
    font-size: 18px; 
}
.sub-script {
    color: #5d9793;
    font-size: 18px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* -----------CS/AI Projects----------- */
#projects {
    padding: 30px 0;
    color: #176663;
    font-size: 60px;
    font-weight:100;
}
.sub-sub-title {
    font-style: italic; 
    font-size: 25px; 
    color: #5d9793; 
}
.projects-list {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding: 20px;
    flex-wrap: nowrap;
}
.projects-list h2 {
    font-size: 30px;
    font-family: 'Lora', serif;
    color: #176663;
    margin-bottom: 10px;
    padding: 20px;
    text-align: center;
    font-weight: normal;
}

.projects-list h3{
    font-size: 20px;
    color: #176663;
    margin-bottom: 5px;
}
.projects-list .role{
    font-size: 20px;
    color: #176663;
    margin-bottom: 5px;
    font-style: italic; 
}
.project-card .date {
    font-size: 16px;
    color: #176663;
    margin-bottom: 5px;
    position: absolute; /* Add this line */
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    font-style: italic;
}
.project-card .description {
    font-family: 'Lora', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 15px;
    color: #176663;
}
.project-card {
    position: relative; /* Add this to make sure the .date is positioned relative to the project-card */
    min-width: 300px; /* This is the current minimum width */
    max-width: 350px; /* Add a maximum width to control the width */
    flex-shrink: 0;
    margin-right: 20px;
    scroll-snap-align: start;
    background-color: #d8d2c4;
    padding: 15px;
    border-radius: 8px;
    transition: transform 0.5s ease; /* Ensure the transition is smooth */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}
.projects-container {
    display: flex;
    overflow-x: auto;
    padding: 20px;
    scroll-snap-type: x mandatory;
}
.projects-container::-webkit-scrollbar {
    display: none;
}
.project-card a {
    display: inline-block; /* Make the link behave like a block-level element for padding and border */
    padding: 10px 15px; /* Add padding inside the box */
    margin-top: 10px; /* Add some space above the box */
    background-color: #5d9793; /* Background color for the box */
    color: #ebeae1; /* Text color */
    text-decoration: none; /* Remove underline from the link */
    border-radius: 5px; /* Rounded corners for the box */
    border: 2px solid #5d9793; /* Border color matching the background */
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transition on hover */
    font-weight: lighter;
}
.project-card a:hover {
    background-color: #ebeae1; /* Change background color on hover */
    color: #5d9793; /* Change text color on hover */
    border-color: #ebeae1; /* Change border color on hover */
}
.project-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 5px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}
.project-card:hover {
    transform: translateY(-10px); /* Moves the card up by 10px */
    transition: transform 0.5s; /* Smooth transition effect */
    background-color: #95aca1;
}
/* -----------Writing----------- */
#writing{
    padding: 50px 0;
}
.writing-list{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.writing{
    border-radius: 10px;
    position:relative;
    overflow: hidden;
    height: 575px; /* Adjust as needed */
}
.writing img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover; /* Ensures the image covers the area while maintaining aspect ratio */
    display: block;
    transition: transform 0.5s;
}
.layer{
    width:100%;
    height:0;
    background: linear-gradient(rgba(0,0,0,0.6), #063533) ;
    border-radius:10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 16px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
    color: #ebeae1; 
    font-size: 30px;
}
.layer p{
    color: #d8d2c4; 
    font-size: 20px;
}
.layer a{
    margin-top: 20px;
    color:#176663; 
    line-height: 60px;
    background: #ebeae1; 
    width: 60px; 
    border-radius: 50%; 
    text-align: center;
}
.writing:hover img{
    transform: scale(1.1);

}
.writing:hover .layer{
    height: 100%;
}
/* -----------Contact----------- */
.contact-left{
    flex-basis:35%;
}
.contact-right{
    flex-basis:60%;
}
.contact-left p{
    margin-top: 30px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none; 
    font-size: 30px;
    margin-right:15px;
    color: #063533;
    display: inline-block;
}
.btn.btn2{
    display: inline-block;
    background-color: #063533;
    color: #ebeae1;
}
.contact-right form{
    width:100%; 
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #d8d2c4;
    padding: 15px;
    margin: 15px 0;
    color: #176663; 
    font-size: 18px; 
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #d8d2c4;
    font-weight: 300;
    margin-top: 20px;
}
#msg{
    color:#063533;
    margin-top:0px;
    display: block;
}
/* -----------TODO: CSS for small screens----------- */ 
